@font-face {
    font-family: 'Vonique92';
    src: url('Vonique92.otf');
    font-weight: normal;
    font-style: normal;
    /* Define the font */
}

.sameline {
    float: left;
}

#menu {
    background-image: url('tile.png');
    width: 300px;
    font-family: 'Vonique92';
    text-align: center;
}

#menu table,
#menu button {
    width: calc(100% - 50px);
    /* calculate, so that if the width is changed, it still works*/
    margin-right: 25px;
    margin-left: 25px;
}

#menu button {
    font-family: 'Vonique92';
    border-radius: 5px;
    border: 1px #999 solid;
    background-color: rgba(255, 255, 255, 0.2);
    height: 50px;
    transition: .2s linear background-color;
}

#menu button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#menu button:focus {
    outline: none;
    /* Remove the blue outline when clicked*/
}

#menu td {
    text-align: left;
    width: 50%;
}




/*@font-face {*/

/*    font-family: 'Vonique92';*/

/*    src: url('Vonique92.otf');*/

/*    font-weight: normal;*/

/*    font-style: normal;*/

/*}*/

/*canvas{*/

/*    float: left;*/

/*}*/

/*#menu{*/

/*    border: black;*/

/*    float:left;*/

/*    width: 300px;*/

/*border: black 1px solid;*/

/*    font-family: 'Vonique92';*/

/*}*/

/*#menubg{*/

/*    background-image: url('tile.png');*/

/*    background-repeat: repeat;*/

/*    filter: blur(1px);*/

/*}*/

/*.menu-absolute{*/

/*    position: absolute;*/

/*    width: 300px;*/

/*}*/

/*#menu h1{*/

/*    width: 100%;*/

/*    text-align: center;*/

/*border-bottom: black 1px solid;*/

/*}*/

/*#menu table{*/

/*    width: calc(100% - 50px);*/

/*    margin-left: 25px;*/

/*    margin-right: 25px;*/

/*}*/

/*#menu td{*/

/*    text-align: left;*/

/*}*/

/*.right{*/

/*    text-align: right !important;*/

/*}*/

/*#menu .menubtn{*/

/*    font-family: 'Vonique92';*/

/*    border: 2px #777 solid;*/

/*    border-radius: 5px;*/

/*    width: calc(100% - 50px);*/

/*    margin-left: 25px;*/

/*    margin-right: 25px;*/

/*    margin-top: 17px;*/

/*    height: 50px;*/

/*    padding: 10px;*/

/*    background-color: rgba(0, 0, 0, 0.2);*/

/*    letter-spacing: 3px;*/

/*    transition: background-color .2s linear, border .2s linear;*/

/*}*/

/*#menu .menubtn[disabled]{*/

/*    background-color:  rgba(255, 255, 255, 0.2);*/

/*}*/

/*#menu .menubtn:hover:not([disabled]){*/

/*    background-color: rgba(255, 255, 255, 0.1);*/

/*}*/

/*#menu .menubtn:focus{*/

/*    outline: 0;*/

/*}*/
